body {
  padding-top: 70px; /* space between navbar and content */
  background: #def;
}

#main {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
}

iframe {
  padding: 0px;
  margin: 0px;
  border: none;
  overflow: hidden;
}

.screenshot {
    padding: 4px;
}

.row {
  padding-bottom: 8px;
}

.row img {
  padding-bottom: 8px;
}