<object data="flash/@swf" type="application/x-shockwave-flash" id="myflash" width="@width" height="@height">
<param name="movie" value="flash/@swf" />
<param name="bgcolor" value="#ffffff" />
<param name="height" value="@height" />
<param name="width" value="@width" />
<param name="quality" value="high" />
<param name="menu" value="false" />
<param name="allowscriptaccess" value="samedomain" />
<p><a href="http://get.adobe.com/flashplayer/">Flash Player</a> is required to view this content.</p>
</object>
